{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>HealthCare</title>
    <link
      rel="stylesheet"
      href="{% static 'core/css/bootstrap/four/bootstrap.css' %}"
    />
  </head>

  <header class="header_area">
    <div class="top_menu row m0"></div>
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand logo_h" href="/"
            ><img src="{% static 'core/img/logo.png' %}" alt=""
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div
            class="collapse navbar-collapse offset"
            id="navbarSupportedContent"
          >
            <ul class="nav navbar-nav menu_nav ml-auto">
              <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'doctors' %}">Doctors</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'reg' %}">Register</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <body>
    {% block body %} {% endblock %}

    <script src="{% static 'core/js/jquery.js' %}"></script>
    <script src="{% static 'core/js/popper.js' %}"></script>
    <script src="{% static 'core/js/bootstrap.js' %}"></script>
    {% include 'ajax.html' %}
  </body>
</html>
